config.json              
service-account.json   
*.env                    
*.local                  
*.secret                

.venv/                   
.vscode/                
.idx/                     

code/*.json            
code/uploads/*          
files/   
Rough/        
node_modules/   


*.md                    
!README.md              

__pycache__/           
*.py[cod]            
*.egg-info/             
.pytest_cache/           

.DS_Store             
Thumbs.db                
*.swp                    
.*
code/test*
tests/
images/
output*

!.gitignore