flask
python-docx
odfdo
markdown
requests
werkzeug
google-generativeai
google-cloud-vision
google-auth
dotenv
gunicorn
gevent
google-cloud-secret-manager
google-genai
firebase-admin
pdfplumber
pymupdf
odfpy
