{% extends "layout.html" %}
{% block body %}
    <link rel="stylesheet" href="../static/css/style_summout.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    
    <div id="particles-js"></div>

    <div class="page-wrapper">
        <div class="result-card">
            <div class="card-header">
                <div class="header-icon">
                    <i class="fas fa-file-alt"></i>
                </div>
                <h1>Document Summary</h1>
                <div class="document-meta">
                    <div class="meta-item">
                        <i class="far fa-calendar-alt"></i>
                        <span id="current-date">Loading date...</span>
                    </div>
                </div>
            </div>
            
            <div class="tab-content">
                <div id="summary" class="tab-panel active">
                    <div id="outputContainer" class="styled-content">{{ output | safe }}</div>
                </div>
            </div>
            
            <div class="action-buttons">
                <button id="copy-btn" class="action-button primary-button">
                    <i class="fas fa-copy"></i> Copy to Clipboard
                </button>
                <button id="new-analysis-btn" class="action-button primary-button">
                    <i class="fas fa-plus"></i> New Analysis
                </button>
            </div>
        </div>
    </div>
    
    <div id="notification-container"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <script src="../static/script/summary_out.js"></script>
{% endblock %}