.generatenote-page {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}


.card {
    background: #161b22e8;
    padding: 32px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.089);
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* Headings */
.title {
    text-align: center;
    font-size: 2rem;
    color: #3fe493;
    margin-bottom: 8px;
    text-shadow: 0 0 30px #3fe49399;
}

.subtitle {
    text-align: center;
    color: #cccccc;
    margin-bottom: 24px;
}

/* Form */
.form-group {
    margin-bottom: 16px;
    width: 100%;
}

.label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.label.green {
    color: #00ffb3;
    text-shadow: 0 0 15px rgba(63, 228, 147, 0.5);
}

.label.pink {
    color: #ff5fad;
}

.textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #444;
    background-color: #393e46;
    color: white;
}

.select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #444;
    background-color: #393e46;
    color: white;
}

/* Grid */
.dropdown-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 16px;
    width: 100%;
}

/* Button */
.button-container {
    text-align: center;
    margin-top: 20px;
}

.generate-button {
    background-color: #00ffff;
    color: white;
    padding: 12px 24px;
    font-size: medium;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.generate-button:hover {
    transform: scale(1.02);
    background-color: #00e6e6;
}

.generate-button:active {
    transform: scale(0.99);
    background-color: #00e6e6;
}