.Roadmap-page {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 1rem;
    min-height: 86vh;
}

.roadmap-input {
    border: 1px solid white;
    border-radius: 10px;
    padding: 1rem;
}


.roadmap-outer {
    min-height: 100vh;
    /* background: rgba(22, 27, 34, 0.8); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.roadmap-box {
    position: relative;
    background: rgba(22, 27, 34, 0.8);
    border: 1px solid #1f2235;
    padding: 3rem 2rem;
    border-radius: 15px;
    width: 100%;
    /* max-width: 720px; */
    height: 100%;
    /* box-shadow: 0 0 30px rgba(0, 255, 140, 0.1); */
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roadmap-glow {
    position: absolute;
    inset: 0;
    /* background: linear-gradient(135deg, #4caf50, #00bcd4); */
    opacity: 0.08;
    filter: blur(100px);
    z-index: 0;
    border-radius: 2rem;
}

.roadmap-header {
    text-align: center;
    position: relative;
    z-index: 1;
    margin-bottom: 2rem;
}

.roadmap-title {
    font-size: 2rem;
    font-weight: bold;
    color: #3fe493;
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-shadow: 0 0 5px rgba(63, 228, 147, 0.3);
}

.roadmap-tagline {
    color: #ccc;
    margin-top: 0.5rem;
}

.roadmap-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    z-index: 1;
    width: 75%;
}

.roadmap-label {
    font-weight: 600;
    color: white;
    font-size: 1.1rem;
    text-align: center;
}

.roadmap-textarea {
    width: 100%;
    background-color: #1e2130;
    color: white;
    padding: 1rem;
    border-radius: 0.75rem;
    border: 1px solid #2a2f45;
    resize: none;
    font-size: 1rem;
}

.roadmap-textarea::placeholder {
    color: #888;
}

.roadmap-button {
    align-self: flex-end;
    background: linear-gradient(to right, #4caf50, #00bcd4);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.75rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.roadmap-button:hover  {
    transform : translateY(-2px);
}

.roadmap-button:active {
    transform: scale(0.98);
}

.icon {
    font-size: 1.2rem;
}